* {
	margin: 0px;
	padding: 0px;
}
.added-text {
	color: green;
	background-color: lightgreen;
	font-size: 15px;
	border-radius: 10px;
	font-weight: bolder;
}
.removed-text {
	color: red;
	background-color: rgba(255, 0, 0, 0.496);
	font-size: 15px;
	border-radius: 10px;
	font-weight: bolder;
}
.difference-box {
	width: 1000px;
	height: 300px;
	border: 3px solid black;
	overflow: scroll;

	padding: 10px;
	padding-top: 35px;
}
.difference-box::-webkit-scrollbar{

	display: none;
}
.normal-text {
	font-size: large;
}
h1{
	margin:0px;
	padding:0px;
}